h1 {
    color: #ffa511;
    text-decoration: teal double underline;
    font-family: League Spartan;
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5;
    text-transform: uppercase;
}