#container {
    height: 600px;
    width: 80%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    justify-content: flex-start;
    /* flex-wrap:wrap; */
    /* flex-wrap:wrap; */
    align-items: flex-start;
    /* align-items: baseline; */
    align-content: center;
}

h1 {
    text-align: center;
}

#orange {
    align-self: flex-start;
    flex-basis: 300px;
}

#container div {
    height: 100px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}