div {
    height: 100px;
    width: 100px;
    background-color: rgb(60, 255, 0);
    margin: 0 auto;
    margin-top: 10px;
    transition: margin-top 2s ease-in 0.2s;
}

h3 {
    color: rgb(60, 255, 0);
}

div:hover {
    margin-top: 400px;
    background-color: pink;
}