.container {
    height: 400px;
    width: 400px;
    border: 5px solid rgb(0, 208, 255);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px auto;
}

.first {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    text-align: center;
    font-size: 50px;
    background-color: gray;
    border-radius: 10px;
}