div {
    height: 200px;
    width: 500px;
    background-color: pink;
    /* border-width: 5px;
    border-style: solid;
    border-color: black; */

    border: 5px solid yellow;
    /* border-left-color: blue;
    border-left-style: dashed; */
    border-top: 5px dashed blue;
}

h1 {
    /* border-width: 2px;
    border-style: dotted;
    border-color: purple; */

    border: 2px dashed green;
}