div {
    height: 200px;
    width: 500px;
    background-color: pink;
    /* border-width: 5px;
    border-style: solid;
    border-color: black; */

    border: 5px solid black;
    /* border-left-color: blue;
    border-left-style: dashed; */
    border-radius: 10px;

    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 50px;
    /* margin-bottom: 25px;
    margin-left: 20px; */
    margin: 10px 20px 30px 40px;
}

h1 {
    /* border-width: 2px;
    border-style: dotted;
    border-color: purple; */

    border: 2px dashed green;
    /* border-radius: 50%; */
    margin: 0;
}

button {
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: yellow;
    padding: 10px 20px 30px 40px;
}