#main_Topic {
    color: blue;
}

*{
    text-align: center;
}

h1, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    color: white;
    background-color: cornflowerblue;
}

div  button {
    background-color: purple;
    color: azure;
}

button:hover {
    background-color: yellow;
    color: blue;
}

p:nth-of-type(2n+1) {
    color: yellow;
}

h1::first-letter {
    color: red;
}

input[type="checkbox"]:checked+label {
    color: darkgreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}