.container {
    width: 600px;
    height: 300px;
    background-color: black;
    display: grid;
    grid-template-rows: 60px 60px 60px;
}

.item {
    width: 100px;
    height: 50px;
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
}