.container {
    height: 200px;
    width: 200px;
    background-color: greenyellow;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.first {
    height: 50px;
    width: 50px;
    background-color: rgb(255, 200, 0);
    margin: 10px;
}