div {
    height: 200px;
    width: 200px;
    background-color: rgb(60, 255, 0);
    transition: 2s;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-delay: 1s;
}

h3 {
    color: rgb(60, 255, 0);
}

div:hover {
    background-color: black;
    border-radius: 50%;
}
