h1 {
    text-align: center;
    text-decoration: red wavy underline;
    letter-spacing: 5px;
}

h3 {
    text-align: start;
    text-decoration: pink line-through;
}

p {
    font-weight: 400;
    line-height: 2.4;
}

h2 {
    font-weight: 800;
    text-decoration: blue double overline;
}

a {
    text-decoration: none;
}